{% set url = false %}
{% if content.link|render|trim is not empty %}
  {% set url = content.link.0['#url'] %}
{% endif %}

{% embed "@a12sfactory/paragraph/paragraph--default.html.twig" %}

  {% block content %}
    {% if url %}
      <a href="{{ url }}">
    {% endif %}
    {{ content|without('link') }}
    {% if url %}
      </a>
    {% endif %}
  {% endblock content %}

{% endembed %}
