/modules/*
!/modules/a12s_layout
!/modules/a12sfactory_seo
!/modules/media_thumbnail_formatters

/composer.lock

/docker-compose.yml
/.env.example
/local/
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.ht.router.php
/.htaccess
/autoload.php
/core/
/drush/
/index.php
/libraries/
/robots.txt
/sites/
/update.php
/vendor/
/web.config

.DS_Store
.idea/

/INSTALL.txt
/README.txt
/example.gitignore
