sup {
  /* Reset overrides from Seven base theme */
  position: initial;
  top: auto;
}

details {
  border: 1px solid #ccc;
  margin-top: 1em;
  margin-bottom: 1em;
}

details summary {
  padding: 0.95em 1.45em;
}

details > .details-wrapper {
  padding: 0.5em 1.5em;
}

.entity-meta {
  background-color: #ececec;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
}

.entity-meta details {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #fff;
  margin: 0;
}

.entity-meta details > summary {
  padding: 0.85em 1.25em;
  text-shadow: 0 1px 0 white;
}

input[type="text"] {
  max-width: 100%;
}

#branding {
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
}

#branding h1.page-title {
  color: #444;
}

div.breadcrumb a:hover {
  color: #333;
}

div.vertical-tabs ul li.first a {
  border-top: 2px solid #0074bd;
}

/* Style the description of fields */
body ul.tips:before,
body div.description:before,
body .form-item .description:before,
body .form-wrapper .counter:before {
  content: "\00bb";
  font-size: 15px;
  color: #4fa5ff;
  margin-right: 4px;
}

ul.tips,
div.description,
.form-item .description,
body .form-wrapper .counter {
  margin: 0.2em 0 0 0;
  color: #777;
  font-size: 0.9em;
}

/* Paragraph form margin/padding field */
.group-margin,
.group-padding {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.group-margin > .form-wrapper,
.group-padding > .form-wrapper {
  width: 50%;
}

/* Toolbar menu improvement */
.toolbar-tray li.menu-item > span {
  color: #7c7c7c;
  cursor: pointer;
  display: block;
  font-style: italic;
  padding: 1em 1.3333em;
  text-decoration: none;
}

